@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
         url("../../../fonts/Poppins/Poppins-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Source Code Pro";
    src: local("Source Code Pro"),
         url("../../../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
