@font-face {
     font-family: "Poppins";
     src: local("Poppins"),
          url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
   }
   
   @font-face {
     font-family: "Poppins";
     src: local("Poppins SemiBold"),
          url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
     font-weight: 600;
     font-style: normal;
   }
   
   @font-face {
     font-family: "Source Code Pro";
     src: local("Source Code Pro"),
          url("../../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
   }
   
   @font-face {
     font-family: "Source Code Pro";
     src: local("Source Code Pro Bold"),
          url("../../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf") format("truetype");
     font-weight: bold;
     font-style: normal;
   }
   