h1 {
  font-size: $font-size-m;
  font-family: $font-family-primary;
  color: $white;
  font-weight: 900;
  line-height: 1.5;
}
h2 {
}
h3 {
  font-size: $primary-font-size;
  font-family: $font-family-primary;
  color: $primary-color;
  font-weight: 700;
}
h4 {
  font-size: $font-size-s;
  font-family: $font-family-primary;
  color: $primary-color;
  font-weight: 600;
}
h5 {
}
h6 {
}

@media screen and (min-width: 768px) {

  h4 {
    font-size: $font-size-m;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: $font-size-l;
  }

}

