// Colors
$primary-color: #333333;
$secondary-color: #fcf8f3;
$white: #fff;
$black: #000;
$header-color-on-top: #ffffff60;
$header-color-on-scrolled: #FFF;


// Fonts
$primary-font-size: 2rem;
$secondary-font-size: 2.5rem;
$font-size-xs: 0.5rem;
$font-size-s: 1rem;
$font-size-m: 1.5rem;
$font-size-l: 3rem;
$font-size-xl: 3.5rem;
$font-size-xxl: 4rem;
$font-size-product-title:0.8rem;
$font-size-product-price:1rem;

// Font Weight
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-900: 900;

// Font Family
$font-family-primary: "Poppins", "Source Code Pro", sans-serif;
$font-family-secondary: "Source Code Pro", "Poppins", sans-serif;

