* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), url("../../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), url("../../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("../../../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro Bold"), url("../../../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h3 {
  font-size: 2rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
body {
  font-family: "Poppins", "Source Code Pro", sans-serif;
}

a {
  text-decoration: none;
}

.visibility-hidden {
  display: none;
}

svg {
  width: 25px;
}

button {
  border: none;
  background: transparent;
}

.btn-primary {
  width: 10em;
  background: red;
  font-size: 1px;
  font-weight: bold;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  border-radius: 2px;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

.btn-secondary {
  width: 10em;
  border: 1px solid #B88E2F;
  color: #B88E2F;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .btn-primary {
    width: 10em;
  }
  .btn-secondary {
    width: 15.13em;
  }
}
header nav {
  height: 100dvh;
  background: #333333;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 2ms ease-in-out;
}
header nav > button {
  position: absolute;
  top: 1em;
  right: 1em;
}
header nav ul {
  margin-top: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
header nav li {
  background: #fcf8f3;
}
header nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: #000;
}
header nav img {
  width: 3.75em;
  height: 3.75em;
}

@media screen and (min-width: 768px) {
  header nav {
    height: auto;
    width: auto;
    position: static;
    transform: translateX(0%);
    background-color: #fff;
  }
  header nav > button {
    display: none;
  }
  header nav ul {
    margin-top: 0;
    flex-direction: row;
  }
  header nav li {
    background: #fff;
  }
  header nav img {
    width: 2em;
    height: 2em;
  }
}
@media screen and (min-width: 1024px) {
  header nav img {
    width: 2.5em;
    height: 2.5em;
  }
}
@media screen and (min-width: 1280px) {
  header nav img {
    width: 3em;
    height: 3em;
  }
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
header svg {
  width: 25px;
}

.logo a {
  color: #000;
}
.logo a span {
  color: red;
}
.logo a span + span {
  color: blueviolet;
}

.user-interactions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  position: fixed;
  left: 0;
  top: 94dvh;
  width: 100%;
  background: #fcf8f3;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    padding: 0.5em 1em;
  }
  header svg {
    width: 25px;
  }
  .user-interactions {
    background: #fff;
    justify-content: flex-end;
    gap: 1.5em;
    position: static;
    width: auto;
    padding: 0;
  }
  .user-interactions + button {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 2.4em;
  }
}
@media screen and (min-width: 1280px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 2.8em;
  }
}
@media screen and (min-width: 1400px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 3em;
  }
}
.carousel {
  position: relative;
  margin-top: 3.46em;
  overflow: hidden;
  height: 15.6255em;
}

.carousel__track {
  position: relative;
  height: 100%;
}

.carousel__slides {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.carousel__slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 99;
  display: none;
  justify-content: space-between;
}
.carousel__controls button svg {
  fill: #000;
  width: 20px;
}

.carousel__dotControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.carousel__dotControls button {
  background-color: #eee;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
}
.carousel__dotControls button.carousel__currentImage {
  background-color: rgba(9, 7, 7, 0.7019607843);
}

@media screen and (min-width: 768px) {
  .carousel {
    margin-top: 4.46em;
  }
  .carousel__controls {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .carousel {
    margin-top: 5em;
  }
}
@media screen and (min-width: 1280px) {
  .carousel {
    margin-top: 5.2em;
  }
}
@media screen and (min-width: 1440px) {
  .carousel {
    margin-top: 5.2em;
  }
}
.categories-card {
  margin-bottom: 2em;
}
.categories-card h3 {
  margin: 0.5em 0;
  text-align: center;
}

.categories-card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 0 1em;
}

.categories-card__item {
  text-align: center;
  overflow: hidden;
}
.categories-card__item img {
  width: 100%;
  height: 14em;
  object-fit: cover;
}

.products-card__btnContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .categories-card__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .categories-card__item img {
    height: 15em;
  }
}
@media screen and (min-width: 1024px) {
  .categories-card__container {
    gap: 1.25em;
    padding: 0 4.5em;
  }
}
@media screen and (min-width: 1280px) {
  .categories-card__container {
    padding: 0 6.375em;
  }
  .categories-card__item img {
    height: 16em;
  }
}
@media screen and (min-width: 1440px) {
  .categories-card__item img {
    height: 18em;
  }
}
.products-card h3 {
  text-align: center;
  margin: 0.5em 0;
}

.products-card__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.products-card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
}

.products-card__productImage {
  position: relative;
}
.products-card__productImage img {
  width: 100%;
  object-fit: cover;
}
.products-card__productImage span {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 35px;
  height: 35px;
  background: #e97171;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
}

.products-card__onHoverElements {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: rgba(58, 58, 58, 0.72);
}

.products-card__onHoverButtons {
  display: flex;
  justify-content: space-evenly;
}
.products-card__onHoverButtons button {
  color: #fff;
}
.products-card__onHoverButtons svg {
  fill: #fff;
  width: 12px;
}

.products-card__addToCart {
  display: flex;
  align-items: center;
}
.products-card__addToCart button {
  width: 7.2em;
  border: 1px solid #B88E2F;
  background-color: #fff;
  color: #B88E2F;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

.products-card__productDetails {
  background-color: #f4f5f7;
  text-align: left;
}
.products-card__productDetails h4 {
  line-height: 1.2;
}
.products-card__productDetails p {
  line-height: 1.5;
}
.products-card__productDetails span {
  font-family: "Poppins", "Source Code Pro", sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 600;
}

.products-card__container > button {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .products-card__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .products-card__container > button {
    grid-column: span 4;
  }
}
@media screen and (min-width: 1024px) {
  .products-card__container {
    gap: 2em;
    padding: 0 6.375em;
  }
}

/*# sourceMappingURL=home.css.map */
