* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-wrap: balance;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("../../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro Bold"), url("../../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-size: 1.5rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #fff;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
body {
  font-family: "Poppins", "Source Code Pro", sans-serif;
}

a {
  text-decoration: none;
}

.visibility-hidden {
  display: none;
}

svg {
  width: 25px;
}

.separator {
  width: 100%;
  height: 8px;
  background: #1363df 0% 0% no-repeat padding-box;
  opacity: 1;
}

.separator2 {
  width: 100%;
  height: 4px;
  background-color: #f4f5f5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: transparent;
}

.btn-primary {
  width: 10em;
  background: red;
  font-size: 1px;
  font-weight: bold;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  border-radius: 2px;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

.btn-secondary {
  width: 10em;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .btn-primary {
    width: 10em;
  }
  .btn-secondary {
    width: 15.13em;
  }
}
header nav {
  height: 100dvh;
  background: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 220ms ease-in;
}
header nav > button {
  position: absolute;
  top: 1em;
  left: 1em;
}
header nav ul {
  margin-top: 6em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
header nav li:hover, header nav li:active, header nav li:focus {
  background-color: #fcf8f3;
}
header nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: #000;
  font-size: 1.5rem;
}
header nav img {
  width: 3.75em;
  height: 3.75em;
}
header nav[data-menu=open] {
  transform: translateX(0%);
}

@media screen and (min-width: 1024px) {
  header nav {
    height: auto;
    width: auto;
    position: static;
    transform: translateX(0%);
    background: none;
  }
  header nav > button {
    display: none;
  }
  header nav ul {
    margin-top: 0;
    flex-direction: row;
  }
  header nav li {
    background: none;
  }
  header nav a {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  header nav a {
    font-size: 1.5rem;
  }
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.logo {
  overflow: hidden;
  padding: 0 0.3em;
}
.logo a {
  color: #000;
  object-fit: contain;
  font-family: "Source Code Pro", "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.user-interactions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fcf8f3;
  padding: 0.5em 1em;
}
.user-interactions .user-interactions__userAuth {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    background: rgba(255, 255, 255, 0.3764705882);
    justify-content: space-between;
    padding: 0.5em 1em;
  }
  header nav + button {
    display: none;
  }
  .scrolled {
    background: #FFF;
  }
  .user-interactions {
    background: none;
    justify-content: flex-end;
    gap: 1.5em;
    position: static;
    width: auto;
    padding: 0;
  }
  #home-btn {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-around;
    padding: 1em;
  }
  header .headerMenuBtn {
    display: none;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 2.4em;
  }
}
@media screen and (min-width: 1280px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 2.8em;
  }
}
@media screen and (min-width: 1400px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 3em;
  }
}
.hero {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  position: relative;
}

.hero__image {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  position: absolute;
  bottom: 4em;
  text-align: center;
  width: 100%;
}
.hero__content button {
  color: #fff;
  border: 1px solid #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  width: 6.5em;
  text-align: center;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero__content button {
    width: 7em;
    font-size: 1.5rem;
  }
}
.categories-card {
  margin: 1em;
  position: relative;
  background: #fff;
  text-align: center;
}
.categories-card > h2 {
  margin: 0.5em 0;
}

.categories-card__container {
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.categories-card__item {
  height: 20em;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 1px solid #000;
}
.categories-card__item .separator {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 99;
}

.categories-card__image {
  width: 100%;
  height: 100%;
}
.categories-card__image img {
  width: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  object-position: top;
}

.categories-card__details {
  padding: 1em;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(27, 37, 44, 0.8509803922);
}
.categories-card__details h3 {
  color: white;
}
.categories-card__details p {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.32px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .categories-card__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: normal;
  }
}
@media screen and (min-width: 1024px) {
  .categories-card__item {
    height: 25em;
  }
}
.products-card h3 {
  text-align: center;
  margin: 0.5em 0;
}

.products-card__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.products-card__item {
  width: 100%;
  flex-direction: column;
  box-shadow: #d6d5d5 0px 0px 4px 4px;
}

.products-card__product-image {
  position: relative;
  width: 100%;
  height: 12em;
}
.products-card__product-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.products-card__product-image span {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 3em;
  height: 3em;
  background: #e97171;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  font-size: 0.65em;
  font-weight: 900;
}

.products-card__on-hover-elements {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: rgba(58, 58, 58, 0.72);
}

.products-card__on-hover-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 0.3em;
}
.products-card__on-hover-buttons button {
  flex-direction: column-reverse;
  color: #fff;
  gap: 0.3em;
}
.products-card__on-hover-buttons svg {
  fill: #fff;
  width: 16px;
}

.products-card__addToCart {
  display: flex;
  align-items: center;
}
.products-card__addToCart button {
  width: 7.2em;
  border: 1px solid #b88e2f;
  background-color: #fff;
  color: #b88e2f;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

.products-card__product-image:hover .products-card__on-hover-elements {
  display: flex;
}

.products-card__productDetails {
  background-color: #f4f5f7;
  flex-direction: column;
  align-items: stretch;
  gap: 0.4em;
  width: 100%;
  height: 10em;
  padding: 0 0.5em;
}
.products-card__productDetails h4 {
  font-size: 1rem;
  line-height: 1.2;
}

.products-card__rating svg {
  width: 1em;
  font-weight: 900;
}
.products-card__rating .products-card__rating-text {
  font-weight: 900;
  font-size: 0.6em;
}

.products-card__price {
  font-weight: 900;
}

.products-card__btn-container {
  width: 100%;
  margin-top: 1.5em;
}

@media screen and (min-width: 768px) {
  .products-card__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .products-card__container > button {
    grid-column: span 4;
  }
  .products-card__product-image {
    height: 15em;
  }
  .products-card__product-image span {
    font-size: 0.8em;
  }
  .products-card__productDetails {
    padding: 0 1em;
  }
}
@media screen and (min-width: 1024px) {
  .products-card__container {
    gap: 2em;
    padding: 0 6.375em;
  }
  .products-card__product-image {
    height: 20em;
  }
  .products-card__product-image span {
    font-size: 1em;
  }
}
footer {
  display: grid;
  /* Uncomment and adjust if needed */
  grid-template-areas: "logo logo logo " "nav nav nav  " "followUs followUs followUs   " "newsletter newsletter newsletter " "policies policies policies " "copyright copyright copyright";
  padding: 1em 1em 2em 1em;
  gap: 0.5em;
  overflow: hidden;
}

.footerLogo {
  text-align: center;
  grid-area: logo;
}
.footerLogo img {
  width: 50px;
}

footer nav {
  grid-area: nav;
}
footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.followUs {
  grid-area: followUs;
}
.followUs h3 {
  text-align: center;
}
.followUs > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.newsletter {
  grid-area: newsletter;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.newsletter h3 {
  font-size: 1rem;
}
.newsletter input[type=email] {
  border: none;
  border-bottom: 1px solid #000;
}
.newsletter button {
  margin-top: 0.5em;
  width: 7em;
  background: #b88e2f;
  color: #eeeaea;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  line-height: 1.8;
}

.policies {
  grid-area: policies;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  width: 100%;
}

footer small {
  grid-area: copyright;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer {
    grid-template-areas: "logo nav followUs " "newsletter newsletter newsletter" "policies policies policies " "copyright copyright copyright";
    padding: 1em 1em 2em 1em;
    gap: 0.5em;
    align-items: center;
  }
  .newsletter {
    grid-area: newsletter;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .newsletter button {
    margin-top: 0.5em;
  }
  .policies {
    justify-content: center;
  }
}

/*# sourceMappingURL=home.css.map */
