* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-wrap: balance;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("../../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro Bold"), url("../../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-size: 1.5rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #fff;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  color: #333333;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Source Code Pro", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visibility-hidden {
  display: none;
}

svg {
  width: 25px;
}

.separator {
  width: 100%;
  height: 8px;
  background: #1363df 0% 0% no-repeat padding-box;
  opacity: 1;
}

.separator2 {
  width: 100%;
  height: 4px;
  background-color: #f4f5f5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-primary {
  width: 10em;
  background: red;
  font-size: 1px;
  font-weight: bold;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  border-radius: 2px;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

.btn-secondary {
  width: 10em;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .btn-primary {
    width: 10em;
  }
  .btn-secondary {
    width: 15.13em;
  }
}
header nav {
  height: 100dvh;
  background: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 220ms ease-in;
}
header nav > button {
  position: absolute;
  top: 1em;
  left: 1em;
}
header nav ul {
  margin-top: 6em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
header nav li:hover, header nav li:active, header nav li:focus {
  background-color: #fcf8f3;
}
header nav li a {
  font-size: 1.2rem;
}
header nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: #000;
  font-size: 1.5rem;
}
header nav img {
  width: 3.75em;
  height: 3.75em;
}
header nav[data-state=open] {
  transform: translateX(0%);
}

@media screen and (min-width: 1024px) {
  header nav {
    height: auto;
    width: auto;
    position: static;
    transform: translateX(0%);
    background: none;
  }
  header nav > button {
    display: none;
  }
  header nav ul {
    margin-top: 0;
    flex-direction: row;
  }
  header nav li {
    background: none;
  }
  header nav a {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  header nav a {
    font-size: 1.5rem;
  }
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.logo {
  overflow: hidden;
  padding: 0 0.3em;
}
.logo a {
  color: #000;
  object-fit: contain;
  font-family: "Source Code Pro", "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.user-interactions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fcf8f3;
  padding: 0.5em 1em;
}
.user-interactions .user-interactions__userAuth {
  display: none;
}

.search-box-container {
  display: none;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 0;
  background-color: #fff;
  overflow: scroll;
}

.search-box-container[data-state=open] {
  display: block;
}

.search-box-container_top {
  display: grid;
  gap: 1em;
  grid-template-columns: 20px auto;
  align-items: center;
}

.search-box-container__back-btn svg {
  width: 16px;
}

.search-box-container__input-box {
  position: relative;
}
.search-box-container__input-box input {
  width: 100%;
  height: 30px;
  border-radius: 25px;
}
.search-box-container__input-box input[placeholder] {
  padding: 0.5em;
  padding-left: 2.3em;
}

.search-box-container__search-btn {
  position: absolute;
  top: 2px;
  left: 5px;
}

.search-box-container__search-history {
  margin-top: 1em;
}
.search-box-container__search-history ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 0.5em;
}
.search-box-container__search-history li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.6em;
}
.search-box-container__search-history li svg {
  width: 10px;
}

@media screen and (min-width: 1024px) {
  .search-box-container {
    height: 100%;
    justify-content: center;
    background: none;
    top: 10px;
  }
  .search-box-container[data-state=open] {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .search-box-container_top {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #back-btn {
    display: none;
  }
  .search-box-container__input-box {
    width: 100%;
  }
  .search-box-container__input-box input {
    border-radius: 6px;
    border: none;
  }
  .search-box-container__search-history {
    margin-top: 0em;
    padding: 1em;
    background-color: white;
  }
}
@media screen and (min-width: 768px) {
  header {
    background: rgba(255, 255, 255, 0.3764705882);
    justify-content: space-between;
    padding: 0.5em 1em;
  }
  header nav + button {
    display: none;
  }
  .scrolled {
    background: #fff;
  }
  .user-interactions {
    background: none;
    justify-content: flex-end;
    gap: 1.5em;
    position: static;
    width: auto;
    padding: 0;
  }
  #home-btn {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-around;
    padding: 1em;
  }
  header .headerMenuBtn {
    display: none;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 2.4em;
  }
}
@media screen and (min-width: 1280px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 2.8em;
  }
}
@media screen and (min-width: 1400px) {
  header {
    justify-content: space-around;
  }
  header svg {
    width: 30px;
  }
  .user-interactions {
    gap: 3em;
  }
}
.breadcrumb {
  background: #F9F1E7;
  padding: 1em 0 1em 1.5em;
}
.breadcrumb nav ul {
  display: flex;
}
.breadcrumb nav li + li::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #000;
  content: ">";
}
.breadcrumb nav li.breadcrumb--active::before {
  content: "|";
}
.breadcrumb nav li.breadcrumb--active + li {
  display: none;
}
.breadcrumb a {
  color: #9f9f9f;
}

.breadcrumb--active a {
  color: #000;
}

@media screen and (min-width: 1080px) {
  .breadcrumb {
    background: #F9F1E7;
  }
}
#msg-box {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 4em;
}

#product-added-msg {
  display: flex;
  background-color: #fff;
  color: #333333;
  padding: 0.5em 1em;
  border-radius: 15px;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 600;
  transition: opacity 0.5s ease-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

footer {
  display: grid;
  /* Uncomment and adjust if needed */
  grid-template-areas: "logo logo logo " "nav nav nav  " "followUs followUs followUs   " "newsletter newsletter newsletter " "policies policies policies " "copyright copyright copyright";
  padding: 1em 1em 2em 1em;
  gap: 0.5em;
  overflow: hidden;
}

.footerLogo {
  text-align: center;
  grid-area: logo;
}
.footerLogo img {
  width: 50px;
}

footer nav {
  grid-area: nav;
}
footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.followUs {
  grid-area: followUs;
}
.followUs h3 {
  text-align: center;
}
.followUs > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.newsletter {
  grid-area: newsletter;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.newsletter h3 {
  font-size: 1rem;
}
.newsletter input[type=email] {
  border: none;
  border-bottom: 1px solid #000;
}
.newsletter input[type=email]:not(:placeholder-shown):invalid {
  border: 2px solid #ff0000;
}
.newsletter input:not(:placeholder-shown) {
  border: 2px solid #008000;
}
.newsletter input:placeholder-shown {
  border-bottom: 1px solid #000;
}
.newsletter button {
  margin-top: 0.5em;
  width: 7em;
  background: #b88e2f;
  color: #eeeaea;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", "Source Code Pro", sans-serif;
  text-align: center;
  line-height: 1.8;
}

#newsletter-msg {
  font-size: 0.8rem;
  color: #ff0000;
}

.policies {
  grid-area: policies;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  width: 100%;
}

footer small {
  grid-area: copyright;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer {
    grid-template-areas: "logo nav followUs " "newsletter newsletter newsletter" "policies policies policies " "copyright copyright copyright";
    padding: 1em 1em 2em 1em;
    gap: 0.5em;
    align-items: center;
  }
  .newsletter {
    grid-area: newsletter;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .newsletter button {
    margin-top: 0.5em;
  }
  .policies {
    justify-content: center;
  }
}

/*# sourceMappingURL=single-product-page.css.map */
