header {
  nav {
    height: 100dvh;
    background: $white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: 220ms ease-in;

    > button {
      position: absolute;
      top: 1em;
      left: 1em;
    }
    ul {
      margin-top: 6em;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    li {
      &:hover, &:active, &:focus  {
        background-color: $secondary-color;
      }
      
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3em;
      color: $black;
      font-size: $font-size-m;
    }
    img {
      width: 3.75em;
      height: 3.75em;
    }
  }
  nav[data-menu="open"] {
    transform: translateX(0%);
  }
}



// Desktop 1024px
@media screen and (min-width: 1024px) {
  header {
    nav {
      height: auto;
      width: auto;
      position: static;
      transform: translateX(0%);
      background: none;

      > button {
        display: none;
      }
      ul {
        margin-top: 0;
        flex-direction: row;
      }
      li {
        background: none;
      }
      a{
        font-size: $font-size-s;
      }
    }
  }
}

// Desktop 1280px
@media screen and (min-width: 1280px) {
  header {
   nav{
    a{
      font-size: $font-size-m;
    }
   }
  }
}