header {
  nav {
    height: 100dvh;
    background: $primary-color;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 2ms ease-in-out;

    > button {
      position: absolute;
      top: 1em;
      right: 1em;
    }
    ul {
      margin-top: 1em;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
    }
    li {
      background: $secondary-color;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3em;
      color: $black;
      font-size: $primary-font-size;
    }
    img {
      width: 3.75em;
      height: 3.75em;
    }
  }
}

// Tablet Style

@media screen and (min-width: 768px) {
  header {
    nav {
      height: auto;
      width: auto;
      position: static;
      transform: translateX(0%);

      > button {
        display: none;
      }
      ul {
        margin-top: 0;
        flex-direction: row;
      }
      li {
        background: $primary-color;
      }
      img {
        width: 2em;
        height: 2em;
      }
    }
  }
}


// Desktop 1024px
@media screen and (min-width: 1024px) {
    header {
      nav {
        ul {
            gap: 4em;
          }
        img {
          width: 2.5em;
          height: 2.5em;
        }
      }
    }
  }


// Desktop 1280px
@media screen and (min-width: 1280px) {
    header {
      nav {
        ul {
            gap: 4.5em;
          }
        img {
          width: 3em;
          height: 3em;
        }
      }
    }
  }
