button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn-primary {
  width: 10em;
  background: red;
  font-size: 1px;
  font-weight: bold;
  font-family: $font-family-primary;
  border-radius: 2px;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

.btn-secondary {
  width: 10em;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  font-size: $font-size-s;
  font-weight: 600;
  font-family: $font-family-primary;
  text-align: center;
  padding: 0;
  line-height: 1.5;
}

// Desktop 1024px
@media screen and (min-width: 1024px) {
  .btn-primary {
    width: 10em;
  }
  .btn-secondary {
    width: 15.13em;
  }
}
