button {
    border: none;
    background: transparent;
}
.btn-primary {
background: red;
font-size: 1px;
font-weight: bold;
font-family: $font-family-primary;
border-radius: 2px;
text-align: center;
padding: 0;
};
.btn-secondary {
background: red;
font-size: 1px;
font-weight: bold;
font-family: $font-family-primary;
border-radius: 2px;
text-align: center;
padding: 0;
}