.carousel {
  position: relative;
  margin-top: 3.46em;
  overflow: hidden;
  height: 15.6255em;
}

// Carousel section ul
.carousel__track {
  position: relative;
  height: 100%;
}

// Carousel section li
.carousel__slides {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Next an Preview button container
.carousel__controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 99;
  display: none;
  justify-content: space-between;
  button {
    svg {
      fill: $black;
      width: 20px;
    }
  }
}

// Carousel indicator
.carousel__dotControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  gap: 1em;
  button {
    background-color: #eee;
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    &.carousel__currentImage {
      background-color: #090707b3;
    }
  }
}

// Tablet 768px

@media screen and (min-width: 768px) {
  .carousel {
    // height: 18.75em;
    margin-top: 4.46em;
  }
  .carousel__controls {
    display: flex;
  }
}

// Tablet 1024px

@media screen and (min-width: 1024px) {
  .carousel {
    margin-top: 5em;

  }
}

// Desktop 1280px

@media screen and (min-width: 1280px) {
  .carousel {
    // height: 21.875em;
    margin-top: 5.2em;
  }
}

// Desktop 1440px

@media screen and (min-width: 1440px) {
  .carousel {
    // height: 25em;
    margin-top: 5.2em;
  }
}
