.categories-card {
    margin-bottom: 2em;
    h3{
        margin: 0.5em 0;
        text-align: center;
    }
}
// Card Container
.categories-card__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0 1em;
}
.categories-card__item {
    text-align: center;
    overflow: hidden;
    img {
        width: 100%;
        height: 14em;
        object-fit: cover;
        object-position: top;
    border-radius: 4px;

    }
}
.products-card__btnContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

// Tablet Style

@media screen and (min-width: 768px) {
    .categories-card__container{
        grid-template-columns: repeat(4, 1fr);
    }
    .categories-card__item {
        img {
            height: 15em;
        }
    }
}
  
  
  // Desktop 1024px
  @media screen and (min-width: 1024px) {
    .categories-card__container{
        gap: 1.25em;
        padding: 0 4.5em;
    }
    }
  
  
  // Desktop 1280px
  @media screen and (min-width: 1280px) {
    .categories-card__container{
        padding: 0 6.375em;
    }
    .categories-card__item {
        img {
            height: 16em;
        }
    }
    }
  
  // Desktop 1440px
  @media screen and (min-width: 1440px) {
    .categories-card__item {
        img {
            height: 18em;
        }
    }
    }
  