  
  .product-counter {
      display: flex;
    input {
      width: 4.5em;
      padding: 0.5rem 1rem;
      border: 1px solid #E8E8E8;
      border-left: none;
      border-right: none;
      text-align: center;
      font-size: $font-size-s;
    }
    :first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    :last-child{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .product-counter__quantity-control-btn{
      padding: 0.5rem 1rem;
      width: 3em;
      border: 1px solid #E8E8E8;
      border-radius: 8px;
      font-size: $font-size-s;
  }

  