.products-card {
  h3 {
    text-align: center;
    margin: 0.5em 0;
  }
}

.products-card__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.products-card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
}

.products-card__product-image {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
  span {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 35px;
    height: 35px;
    background: #e97171;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
  }
}
.products-card__on-hover-elements {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: rgba(58, 58, 58, 0.72);
}
.products-card__on-hover-buttons {
  display: flex;
  justify-content: space-evenly;
  button {
    color: $white;
  }
  svg {
    fill: $white;
    width: 12px;
  }
}
.products-card__addToCart {
  display: flex;
  align-items: center;
  button {
    width: 7.2em;
    border: 1px solid #b88e2f;
    background-color: $white;
    color: #b88e2f;
    font-size: $font-size-s;
    font-weight: 600;
    font-family: $font-family-primary;
    text-align: center;
    padding: 0;
    line-height: 1.5;
  }
}
.products-card__productDetails {
  background-color: #f4f5f7;
  text-align: left;
  h4 {
    line-height: 1.2;
  }
  p {
    line-height: 1.5;
  }
  span {
    font-family: $font-family-primary;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 600;
  }
}

.products-card__btn-container {
  width: 100%;
  margin-top: 1.5em;
}
// Tablet 768px
@media screen and (min-width: 768px) {
  .products-card__container {
    grid-template-columns: repeat(4, 1fr);
    > button {
      grid-column: span 4;
    }
  }
}

// Desktop 1024px
@media screen and (min-width: 1024px) {
  .products-card__container {
    gap: 2em;
    padding: 0 6.375em;
  }
}
